extends base

block content
    each component, index in components
        | # #{component.name}
        +list("extends", component._extends)
        +list("implements", component._implements)
        if component.description.length > 0
            +linebreak(2)
            | !{component.description}
        if index !== (components.length - 1)
            +linebreak(3)