extends base

block content
    each component, index in components
        if component.name && component.selectors && component.selectors.length > 0
            if index !== 0
                +linebreak(4)
            | !{"<!--- " + component.name +  " examples --->"}
            |
            each selector, index in component.selectors
                if index !== 0
                    +linebreak(2)
                +snippet(selector, component.inputs, component.hasChildren)